In [1]:
print('hello world')

hello world

In [2]:
x = 5 
y = 'john'
print(y)

john

In [4]:
a = 333
b = 100 

if a > b:
    print('a is greater than b')

a is greater than b

In [5]:
fruits = ['apple','banana','orange']

for x in fruits:
    print(x)

apple
banana
orange

In [7]:
for x in 'banana':
    print(x)

b
a
n
a
n
a

In [8]:
for x in range(9):
    print(x)

0
1
2
3
4
5
6
7
8

In [9]:
def my_function():
    print('hello world')

In [10]:
my_function()

hello world

In [12]:
def fullname(fname):
    print(fname + ' Refness')
    
fullname('mike')

mike Refness

In [13]:
cars = ['Ford','Volvo','BMW']
cars[0]

'Ford'

In [14]:
n = len(cars)

In [15]:
n

3

In [16]:
for x in cars:
    print(x)

Ford
Volvo
BMW

In [17]:
cars.pop(1)

'Volvo'

In [18]:
cars

['Ford', 'BMW']

In [19]:
class MyClass:
    x = 5

In [20]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age 
        
    def myFunct(self):
        print('hello my name is ' + self.name)

In [21]:
p1 = Person('John',36)
p1.myFunct()

hello my name is John

In [25]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
        
    def printName(self):
        print(self.firstname, self.lastname)

        
x = Person('John','Doe')
x.printName()

John Doe

In [37]:
import pandas as pd
df = pd.read_csv('/home/aidleroinc/Downloads/salary_list.csv')
del df['Timestamp']
df

,How old are you?,Industry,Job title,Additional context on job title,Annual salary,Other monetary comp,Currency,Currency - other,Additional context on income,Country,State,City,Overall years of professional experience,Years of experience in field,Highest level of education completed,Gender,Race
0,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26712,35-44,Computing or Tech,Program Manager,NaN,170000,0.0,USD,NaN,NaN,United States,Virginia,Chantilly,11 - 20 years,11 - 20 years,Master's degree,Woman,White
26713,35-44,Media & Digital,Media Researcher,Researching Info for television shows,64100,2000.0,USD,NaN,NaN,United States,New York,New York,2 - 4 years,2 - 4 years,"Professional degree (MD, JD, etc.)",Woman,Black or African American
26714,25-34,Business or Consulting,Consultant,Technology Consultancy,120000,25000.0,GBP,NaN,NaN,UK,NaN,London,11 - 20 years,5-7 years,PhD,Man,White
26715,25-34,Education (Higher Education),Research Center Manager,NaN,67700,NaN,USD,NaN,NaN,USA,Missouri,St. Louis,8 - 10 years,5-7 years,Master's degree,Woman,White
26716,25-34,Education (Higher Education),Assistant to the Dean,My job title doesn’t reflect my work. I am a p...,58000,3000.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,2 - 4 years,College degree,Woman,White